html, body {
    height: 100vh;
    overflow: hidden;
}

.main {
    position: relative;
}

.main .row {
    position: absolute;
    transition: left 1s cubic-bezier(.87,.13,.3,.95);
}

.main-row {
    background-color: #4717f6;
    left: 0;
}

.secondary-row {
    background-color: #a239ca;
    left: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.rooms div {
    width: 50%;
    display: flex;
    align-items: center;
}

.rooms button {
    margin: 10px;
    background-color: #e7dfdd;
    color: black;
}

.rooms button:hover {
    background-color: #e7df00;
}

.rooms i {
    padding: 0 10px;
}

.rooms input {
    border: none;
    border-radius: 5px;
}

#valid-username {
    margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    .rooms div {
        width: 80%;
    }
}